body {
	background-color: #ccc;
	font-family: 'Century Gothic';
	font-variant: small-caps;
	font-size: 1.5em;
}
.logo {
	text-align: center;
}
table{
	margin-left: auto;
	margin-right: auto;
	border: 4px;
	border-style: outset;
	font-variant: initial;
	font-size: .7em;
	text-align: center;
}
td, th{
	border: 1px;
	border-style: inset;
	padding: 0 3px 0 3px;
}
td:first-child{
	text-align: left;
}
a:visited{
	color: #800020;
}