a.navbar{
	margin-left: 35px;
	color: #87cefa;
	text-shadow: 1px 1px 3px black;
}
body{
	background-size: cover;
	color: white;
	text-shadow:-1px -1px #000, -1px 0px #000,
	-1px 1px #000, 0px -1px #000, 0px 1px #000,
	1px -1px #000, 1px 0px #000, 1px 1px #000;
}
body#gotf{
	background-image: url('gotf.png');
}
body#howl{
	background-image: url('howl.jpg');
}
body#totoro{
	background-image: url('totoro.jpg');
}
body#mononoke{
	background-image: url('mononoke.jpg');
}
body#spiritedaway{
	background-image: url('spiritedaway.jpg');
}
body#ponyo{
	background-image: url('ponyo.jpg');
}
section.info{
	margin-top: 10px;
	text-align: center;
	font-family: Tahoma;
}
section.credits{
	width: 300px;
	vertical-align: top;
	display: inline-block;
}
h2{
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}
table{
	min-width: 20%;
}
td:first-of-type{
	width: 125px;
	padding-right: 5px;
}
th{
	text-align: center;
	font-size: 1.2em;
}
header.navbar{
	text-align: center;
}
#summary{
	font-style: italic;
}
.wrap{
	display: inline-block;
}
@media screen and (max-width: 1196px){
	section.credits{
		border: 1px solid black;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.wrap {
	    position: relative;
	    width: 100%;
	    height: 0;
	    padding-bottom: 55%;
	}
	#youtube {
	   	position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}